/* Mode-1: Mode 1 */

/* Collection: COLLECTION 1 */
:root {
  --desktop-max-width: 110.4rem;
  --desktop-main-margin-inline: 6.73rem;
  --desktop-main-margin-bottom-block: 46.6rem;

  --Radius-Desktop-lg: 1rem;
  --Radius-Desktop-md: 0.8rem;
  --Radius-Desktop-sl: 0.4rem;

  --Gap-Desktop-Xlg: 12.4rem;
  --Gap-Desktop-lg: 6.4rem;
  --Gap-Desktop-md: 3.2rem;
  --Gap-Desktop-sl: 1.6rem;
  --Gap-Desktop-Xsl: 0.8rem;

  --border-border-default: 0.2rem;

  --Font-Desktop-H1: 5rem;
  --Font-Desktop-H2: 3.5rem;
  --Font-Desktop-H4: 2.5rem;
  --Font-Desktop-H5: 2rem;
  --Font-Desktop-H6: 1.8rem;
  --Font-Desktop-paragraph: 1.6rem;

  --color-Primary-red: rgba(245, 56, 56, 1);
  --shadow-Primary-red: rgba(255, 0, 0, 0.35);
  --color-Primary-darkblue: rgba(11, 19, 42, 1);
  --color-Primary-green: rgba(47, 171, 115, 1);
  --color-Primary-grey: rgba(79, 86, 101, 1);
  --color-Primary-white: rgb(255, 255, 255);

  --Timing-default: 0.3s;
}
